.mdx-container {
  width: 100%;
  min-width: 50%;
}

.mdxeditor-toolbar {
  background-color: white !important;
  border-radius: 0 !important;
  z-index: 0 !important;
  border-bottom: solid 1px var(--header-border-cl);
}

.ͼ1v {
  background-color: black;
}
