PORT=4000
HOST=0.0.0.0

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

CLIENT_URL=http://localhost:5173

NODE_ENV=production
PORT=4000
HOST=0.0.0.0
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=fsrtn
POSTGRES_PASSWORD=fsrtn
POSTGRES_DB=fsrtn

PASSWORDHASH_SALT=
JWT_SECRET=